<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title VolSU Lectorium
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="style.css")
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  body
    .curriculum
      .curriculum__stage
        .stage__title
          |Первый курс
        .curriculum__stage-section
          .stage-section__title
            .stage-section__title-icon
              <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.93872 1.48978L11.653 11.2041L21.3673 1.48978" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            span.stage-section__title-text
              |Начало Анализа
          .stage-section__item
            .stage-section__item-title
              |1. Предел последовательности
            .stage-section__item-desc
              | Vestibulum porta leo quis porttitor ullamcorper. Nulla ornare vulputate metus ac placerat. Praesent vel neque nunc. 
            button.stage-section__item-button
              | Start
    .lesson
      .lesson__video
        video.lesson__video-content
      .lesson__article
        h2
          |Awesome Title about lecture
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend felis eu varius vestibulum. Praesent nibh magna, vulputate at nibh quis, hendrerit ullamcorper orci. Vestibulum porta leo quis porttitor ullamcorper. Nulla ornare vulputate metus ac placerat. Praesent vel neque nunc. 
        
